.footer-bottom {
  display: flex;
  justify-content: space-between; /* separates text and socials */
  align-items: center; /* vertically centers items */
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid rgb(107 114 128);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  color: #33459B;
  margin: 0;
}

.logorafftech{
  display: flex;
  gap: 200px; /* replaces individual margins */
  height: 25px;
}

.socials {
  display: flex;
  gap: 10px; /* replaces individual margins */
}

.socials img {
  height: 15px;
}

.acknowledgment-logos{
  display: flex;
  gap: 2rem; /* optional: adds spacing between the logos */
  align-items: center; /* optional: aligns logos vertically if heights differ */
}

.WebTrust, .MCMC {
  max-width: 60px;
  width: 100%;
  height: auto;
}
